.select-block {
    margin: 20px;
    margin-left: 0;
    text-align: left;
}

.btn-submit-block {
    margin-top: 10px;
    text-align: left;
}

select.select-list{
    display: inline;
    margin: 10px;
    width: auto;
}

textarea {
    resize: none;
}